<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--加载数据源配置文件-->
    <properties resource="db.properties">
    </properties>

    <settings>

        <!-- 开启延迟加载 ，默认值为true-->
        <setting name="lazyLoadingEnabled" value="true"/>

        <!-- 设置积极的懒加载,默认是true -->
        <setting name="aggressiveLazyLoading" value="false"/>

        <!-- 二级缓存的总开关-->
        <setting name="cacheEnabled" value="true"/>

        <!--开启驼峰映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--设置自动映射级别 指定 MyBatis 应如何自动映射列到字段或属性。 NONE 表示关闭自动映射；PARTIAL 只会自动映射没有定义嵌套结果映射的字段。 FULL 会自动映射任何复杂的结果集（无论是否嵌套）。-->
        <setting name="autoMappingBehavior" value="PARTIAL"/>
    </settings>


    <!--自定义别名-->
    <typeAliases>
        <!-- 单个别名定义 -->
        <!-- <typeAlias type="com.higanbana.domain.User" alias="user"/> -->

        <!-- 批量别名定义（推荐） -->
        <!-- package：指定包名称来为该包下的po类声明别名，默认的别名就是类名（首字母大小写都可） -->
        <package name="com.higanbana.domain"/>
    </typeAliases>

    <!--配置环境变量-->
    <environments default="development">
        <environment id="development">
            <!-- 配置JDBC事务控制，由mybatis进行管理 -->
            <transactionManager type="jdbc"></transactionManager>
            <!-- 配置数据源，采用mybatis连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}" />
                <property name="url" value="${db.url}" />
                <property name="username" value="${db.username}" />
                <property name="password" value="${db.password}" />
            </dataSource>
        </environment>
    </environments>

    <!--加载映射文件-->
    <mappers>

        <mapper resource="mapper/UserMapper.xml" />
        <mapper resource="mapper/ProductMapper.xml"/>
        <mapper resource="mapper/OrdersMapper.xml"/>
        <!-- 批量加载映射文件 -->
         <!--<package name="com.higanbana.dao"/>-->
    </mappers>


</configuration>